body {
    font-family: Roboto, serif;
    background: #8DA185;;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.row_form_two{
  display: none;
}

.form__btns button{
  color: #212529;
  margin-right: 10px;
}

.radio{
  margin-top: 10px;
  display: block;
}

.modal-footer a, .modal-footer button{
  background-color: #C6D1D4;
  color: #212529;
}

.section__title {
    margin-top: 3 rem;
    font-size: 2.6666666667rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    margin-bottom: 1.4444444444rem;
    text-align: center;
  }

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 940px;
    position: relative;
  }

.form1 {
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 20%;
    }
  }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0;
    }
  }
  
  .form__col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1.5555555556rem;
  }
  .form__col:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0;
    }
  }
  
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.6666666667rem;
  }
  .form__row--textarea {
    margin-bottom: 2.1111111111rem;
  }
  
  .form__block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0.8888888889rem;
  }body {
2
    font-family: Roboto, serif;
3
    background: #8DA185;;
4
}
5
​
6
h1,
7
h2,
8
h3,
9
h4,
10
h5,
11
h6 {
12
  margin-top: 0;
13
  font-weight: normal;
14
}
15
​
16
.row_form_two{
17
  display: none;
18
}
19
​
20
.form__btns button{
21
  color: #212529;
22
  margin-right: 10px;
23
}
24
​
25
.modal-footer a, .modal-footer button{
26
  background-color: #C6D1D4;
27
  color: #212529;
28
}
29
​
30
.section__title {
31
    margin-top: 3 rem;
32
    font-size: 2.6666666667rem;
33
    text-transform: uppercase;
34
    font-weight: 700;
35
    color: #292929;
36
    margin-bottom: 1.4444444444rem;
37
    text-align: center;
38
  }
39
​
40
.container {
41
    margin: 0 auto;
42
    width: 95%;
43
    max-width: 940px;
44
    position: relative;
45
  }
46
​
47
.form1 {
48
  padding: 2rem;
49
  margin-top: 3rem;
50
  margin-bottom: 3rem;
51
}
52

  .form__block:last-child {
    margin-right: 0;
  }
  
  .form__input {
    width: 100%;
    padding: 0.8888888889rem 0.6666666667rem;
    border: 0.2777777778rem solid transparent;
    border-radius: 0.2222222222rem;
  }
  .form__input--textarea {
    height: 8.5555555556rem;
    resize: none;
  }
  .form__input:focus {
    outline: none;
    border-color: #748D9A;
  }
  
  .form__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  @media screen and (max-width: 480px) {
    .form__controls {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  .form__controls--radio {
    margin-bottom: 1.1111111111rem;
  }
  .form__controls--checkbox {
    margin-bottom: 2.6666666667rem;
  }
  
  .form__title {
    color: #212529;
  }
  
  @media screen and (max-width: 768px) {
    .form__btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }

  .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-right: 0.5555555556rem;
  }
  .radio:last-child {
    margin-right: 0;
  }
  .radio--checkbox .radio__visible {
    border-radius: 0.2222222222rem;
  }
  .radio--checkbox .radio__visible::before {
    background: url("../../img/tick.png") no-repeat center;
  }
  
  .radio__elem {
    display: none;
  }
  .radio__elem:checked ~ .radio__visible::before {
    display: block;
  }
  
  .radio__visible {
    width: 1.3333333333rem;
    height: 1.3333333333rem;
    position: relative;
    border-radius: 50%;
    background: #fff;
  }
  .radio__visible::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0.6666666667rem;
    height: 0.6666666667rem;
    background: #748D9A;
    border-radius: 50%;
  }
  
  
  .radio__title {
    color: #212529;
  }
  
  .radio__visible {
    margin-right: 0.5555555556rem;
  }

  .form-btn {
    background-color: #748D9A;
    border-width: 0px;
    margin-top: 0px;
  }
  
  .form-check{
    margin-left: 3px;
  }
  .form-check label {
    margin-left: 10px;
  }

  @media (max-width: 750px){
  .row_form{
    display: none;
  }

  .row_form_two{
    display: block;
  }

  }
