@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    background: #8DA185;;
}


p.lang {
    top: 0;
    right: 15px;
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    line-height: 30px;
    font-weight: 600;
    text-align: right;
    z-index: 5;
    padding: 0;
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
  }
  p.lang a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  p.lang a:hover {
    color: white;
    text-decoration: none !important;
    outline: none !important;
  }
  p.lang a:active, p.lang a:focus {
    outline: none !important;
    text-decoration: none !important;
    color: white;
  }
  p.lang a.active {
    color: white;
  }

  p.lang {
    font-family: Roboto, serif;

    font-size: 1em;
  }


.card {
    background-color: #C6D1D4;
    color: #212529;
    border-radius: 15px;
}
.card img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card .btn{
    background-color: #748D9A;
    border-width: 0px;
}

.goods {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-style: solid;
    border-width: 3px;
    border-top-color: #C6D1D4;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.navbar {
    background: linear-gradient(31deg, #1E2D21 0%, #3C533A 100%);
}

.card a{
    text-decoration: none;
    color: #212529;
}

.header>.navbar .container-fluid {
    background-color: #9d3ac4;
}



.footer-text{
    color: #212529;
    margin: auto auto;
}

.main-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
}

footer {

    margin-top: 2rem;
    border-style: solid;
    border-width: 3px;
    border-top-color: #C6D1D4;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 15px;

}

.rights-to{
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.for-laptop {
    display: flex;
}

.for-phone {
    display: none;
}

.media-links {
    display: flex;
    justify-content: right;
    align-items:center;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(190, 190, 190);
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img{
    width: 90px;
}

.navbar-toggler {
    background-color: rgb(190, 190, 190);
}

.btn-primary {
    margin-top: 0.7em;
}

@media (max-width: 755px){
    .carousel-indicators{   
        display: none;
    }
}
@media (max-width: 790px){
    .media-links {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 15px;
}
.goods {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.for-laptop {
    display: none;
}

.for-phone {
    display: flex;
}
}
